.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: var(--font-family-mono);
  font-size: var(--font-size);
  color: var(--theme-text);
  background: var(--theme-surface-1);
  border-bottom: 1px solid var(--theme-border);
  padding: 0 var(--space-h-4);
  line-height: var(--line-height-base);
  height: calc(var(--line-height-base) * 1.5rem);
  -webkit-app-region: drag;
}

.slot {
  display: flex;
  align-items: center;
  -webkit-app-region: no-drag;
}
