.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.label {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-sm);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-caps);
  color: var(--theme-text-muted);
  line-height: calc(var(--line-height-base) * 1em);
}

.root {
  display: block;
  width: 100%;
  font-family: var(--font-family-mono);
  font-size: var(--font-size);
  color: var(--theme-text);
  background: var(--theme-background-input);
  border: 1px solid var(--theme-border);
  padding: var(--space-2) var(--space-h-2);
  line-height: calc(var(--line-height-base) * 1rem);
  outline: none;

  &::placeholder {
    color: var(--theme-text-muted);
  }

  &:focus {
    border-color: var(--theme-focused-foreground);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
