.root {
  font-family: var(--font-family-mono);
  font-size: var(--font-size);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
  color: var(--theme-text);
  margin: 0;
  padding: 0;
}

.muted {
  color: var(--theme-text-muted);
}
